body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, 
*:after, 
*:before {
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --blue: #2196F3;
  --light-blue: #9ABBCE;
  --black: #4A4A4A;

  --primary: #F3F7FA;

  --app-bg-color: var(--primary);

  --checkboxes-bg-color: var(--white);

  --checkbox-border-color: var(--light-blue);
  --checkbox-bg-hover: #F1FCFF;
  --checkbox-checked-color: var(--blue);

  --checkbox-padding: 10px 20px 10px 20px;

  --checkboxes-bg-color: var(--white);
  --checkboxes-title-color: var(--black);

  --ticket-bg-color: var(--white);
  --ticket-price-color: var(--blue);

  --segment-title-color: #A0B0B9;
  --segment-text-color: var(--black);

  --button-border-color: #DFE5EC;
  --button-color: var(--black);
  --button-bg-color: var(--white);

  --button-selected-border-color: transparent;
  --button-selected-color: var(--white);
  --button-selected-bg-color: var(--blue);
}
